
body{
    margin: 0;
    
    
    
    background-image:linear-gradient(to right,black,transparent), url("/images/jujutsu-kaisen-3840x2160-24450.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
header{
    background: linear-gradient(to right,black,transparent);
    text-align:left;
    padding: 40px;
    color:rgb(255, 115, 0);
    font-size:50px;
    font-family: Arial, Helvetica, sans-serif;
}
.Hero p{
    font-size:150px;
    color:rgb(255, 255, 255);
    font-family:'Arial Narrow Bold', sans-serif;
    width: 1600px;
    padding-left:300px;
    margin-top: 150;
    margin-bottom: 0;
    
}
.dis p{
    color:white;
    font-size:70px;
    padding-left:300px;
    margin-top: 100;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}
.dis button{
    padding: 30px 60px;
    background: rgb(255, 115, 0);
    border: none;
    color: white;
    font-size: 50px;

    /* FULL ROUND EDGES */
    border-radius: 999px;

    cursor: pointer;
    transition: 0.3s ease;

    /* ALIGN WITH PARAGRAPHS */
    margin-left: 300px;
    margin-top: 80px;
   
}
.dis button:hover {
    background: rgb(255, 90, 0);
    transform: scale(1.08);
    box-shadow: 0 0 20px rgba(255, 115, 0, 0.8);
}
.image-row {
    display: flex;
    gap: 300px;              /* space between images */
    padding-left: 450px;  
    padding-top:200px  /* align with your text */
}

.image-row img {
    width: 800px;
    height: 1000px;
    object-fit: cover;
    border-radius: 15px;
}
.tlist p{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size:100px;

}